section{
    height: 100vh;
}
nav{
    display: flex;
    justify-content: space-evenly;
    color:black
}
*{
    margin: 0;
    padding: 0;
    color: black;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
    display: none;
}
