main{
height: 71.1vh;
    background-color: rgb(15, 3, 71);
}
*{
margin: 0;
    padding: 0;
    border: 0;
}
header{
    display: flex; 
    height: 100%;
    justify-content: space-evenly;
    background-color: rgb(42, 2, 136);
}
.menu{
    display: flex;
    border: 1px rgb(109, 109, 255);
    color:rgb(109, 109, 255) ;
    transition: 1s ease;
    text-decoration: none;
    justify-content: space-between;
}
.menu:hover{
color: lightgreen;
text-decoration: underline;
}
main{
    padding: 20px 50px;
    
}
.texto{
    border: 1px rgb(109,109 , 255);
    color: yellow;
}
.botao button{
    width: 20vh;
    height: 30px;
        border:1px red;
    font-size: 16px;
    color: crimson;
    box-shadow: 5px 5px 5px red;
    transition: 2s ease;
    background-color: rgb(15, 3, 71);
    border: 1px solid ;
}
.botao:hover button{
width: 40vh;
height: 5vh;
}
.imagem img{
    width: 500px;
    transition: 2s ease;
}.imagem:hover img{
    width: 100vh;
}
.eggman{
    display: flex;
    padding: 5vh;
}
.card{
    display: flex;
    padding: 0.5vh 3vh;
    border-radius: 10px;
    width: 300px;
    height: 200px;
    box-shadow:  10px 20px 10px rgb(185, 2, 185);
    margin: 0px 10px;
    color: blueviolet;
    border: 1px solid;
    align-items: center;
    font-size: 50px;
    justify-content: center;
}
footer{
    display: flex; 
    height: 100%;
    justify-content: space-evenly;
    background-color: rgb(42, 2, 136);
    bottom: 0 ;
    position: relative;
}

.log img{
    width: 200px;
}
a{
    text-decoration: none;
    color: coral;
    font-size: 30px;
}
.div{
    display: flex;
    justify-content: space-evenly;
   width: 80%;
   align-items: center;
}


