.caixa{
    width: 100px;
    height: 100px;
    border:  3px solid black;
    margin: 20px;
}
body{
    display: flex;
    justify-content: center;
}
.visible{
    overflow: visible;
    background-color: cornflowerblue;
}
.hidden {
    overflow: hidden;
    background-color: limegreen;
}
.scroll{
    overflow: scroll;
    background-color: darksalmon;
}
.auto{
    overflow: auto;
    background-color: darkslategrey;
}