.titulo::before{
    content:'AAAA '
}
.titulo2{
    position: relative;
}
.titulo2::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 3px;
    background-color: grey;
}
.botao {
    position: absolute;
}
.menu{
    text-decoration: nome;
    color: black;
    position: relative;
}
.menu::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 3px;
    background-color: lightgoldenrodyellow;
    transition: width 0.5s;
}
.menu:hover::after{
    width: 100%;
}