main{
    max-width: 1200px;
    padding: 20px;
    margin: 0 auto;
}
body{
font-family: sans-serif;
margin: 0px;
background-color: #f0f0f0;
text-align: center;
}
article{
text-align: left;
padding: 20px;
background-color: whitesmoke;
}
h1{
    color: crimson;
}
.comida_favorita{color: rgb(216, 56, 24);}

img{
     width: 200px;
        height: 200px;
        border-radius: 10px;
}
.hobby{color: steelblue;}

.lugar{color: rgb(241, 51, 159)}

.wakfu{color: rgb(23, 180, 180);}

.Master{color: rgb(141, 0, 0);}
