*{
    padding: 0;
    margin: 0;
    border: 0;
}
main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 18fr 1fr;
    height: 100vh;
    align-items: center;
    justify-content: center;
    grid-template-areas:
    "texto hud" 
    "obs obs";
    background-image: url(imagens/fundo.gif);
    background-position: bottom;
}
header{
    background-color: #0f0347;
    display: flex;
    align-items: center;
    font-size:25px ;
    font-family: "13 misa";
}
img{
    width: 50px;
}
.p_deu_texto{
    grid-area: texto;
    font-size: 100px;
    font-family: "13 misa";
    color: white;
    text-shadow: 
        0px 0px 5px #ff82f7,
        0px 0px 10px #ff82f7,
        0px 0px 15px #ff82f7;
    padding-left: 100px;
}
.caixa{
    grid-area: hud;
    color: white;
    text-shadow: 
        0px 0px 5px #ff82f7,
        0px 0px 10px #ff82f7,
        0px 0px 15px #ff82f7;
    font-size: 30px;
    font-family: "tex-titulo";
    background-color: #735e97cc;
    display: flex;
    flex-direction: column;
    width: 60vh;
    height: 60vh;
    position: relative;
    border-radius: 40px;
    align-items: center;
    text-align: center;
    justify-content: space-around;
}
.caixo input{
height: 70px;
}
.caixo ::placeholder{
    font-size: 20px;
}
h2{
    margin: 10px;
}
input{
    margin: 5px;
    background-color: #8d74ff;
    color: white;
    width: 500px;
    height: 30px;
    border-radius:40px ;
    font-family: "tex-normal";
    padding-left: 8px;
    height: 50px;
}
input::placeholder{
    color: rgba(255, 255, 255, 0.568);
   
}
.caixa button{
    background-color: #74f2e6;
    color: white;
    border-radius: 50px;
    font-family: "tex-normal";
    width: 300px;
    height: 50px;
    font-size: larger;
    opacity: 1;
    border-radius: 40px;
}
.obs{
    grid-area: obs;
    color: azure;
}
.obs a{
    color: rgb(119, 119, 119);
    opacity: 0.7;
    text-decoration: none;
}
.caixa a{
    text-decoration: none;
    color: white;
    text-shadow: 
        0px 0px 5px #ff82f7,
        0px 0px 10px #ff82f7,
        0px 0px 15px #ff82f7;
}
@font-face {
    font-family: "13 misa";
    src: url(fonts/BILLO___.TTF);
}
@font-face{
    font-family: "tex-normal";
    src: url(fonts/Tektur-Regular.ttf);
}
@font-face {
    font-family: "tex-titulo";
    src: url(fonts/Tektur-Bold.ttf);
}

