*{
    margin: 0;
    padding: 0;
    border: 0;
}
main{
    display: grid;
    grid-template-columns: 0.5fr 1fr 2fr 0.5fr;
    grid-template-rows: 1fr 0.5fr 2fr;
    grid-template-areas: 
    "esquerda banner banner direita"
    "esquerda titu titu direita"
    "esquerda top post direita";
    height: 94.4vh;
    background: linear-gradient(#183f9b,#183f9b,#0f0347);
}
.esquer{
    grid-area: esquerda;
    width: 100%;
    height: 100%;
}
.dire{
    grid-area: direita;
    width: 100%;
    height: 100%;
}
.banner{
    grid-area: banner;
    width: 100%;
    height: 100%;
    justify-content: center;
    justify-items: center;
    z-index: 1;
}
.titulo{
    grid-area: titu;
    display: flex;
    width: 100%;
    height: 100%;
    background: none;
    color: white;
    text-shadow: 0px 0px 5px orangered,
        0px 0px 10px orangered,
        0px 0px 15px orangered;
}
.topicos{
grid-area: top;
width: 100%;
    height: 100%;
}
.postagems{
grid-area: post;
width: 100%;
    height: 100%;
overflow: auto;   
}
::-webkit-scrollbar{
     background: none; 
    width: 5px;
}
::-webkit-scrollbar-thumb{
    background-color: white;
     box-shadow: 0px 0px 5px #a680ff,
        0px 0px 10px #a680ff,
        0px 0px 15px #a680ff;
}
.lado{
    background:linear-gradient(#3d2a94, #3d2a94,#3d2a94, #8baaf8);
     display: flex;
     flex-direction: column;
     align-items: center;
     text-align: center;
     z-index: 4;
}
header {
    display: flex;
    justify-content: space-between;
    background-color: #0f0347;
    position: sticky;
    z-index: 1;
    align-items: center;
}
header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    background-color: #0f0347;
    position: sticky;
    z-index: 1;
    align-items: center;
}
.logo {
    display: flex;
    align-items: center;
    margin: 0px 5px;
    width: 300px;
    justify-content: space-around;
}

header img {
    height: 43px;
}
@font-face {
    font-family: "13 misa";
    src: url(fonts/BILLO___.TTF);
}
@font-face{
    font-family: "tex-normal";
    src: url(fonts/Tektur-Regular.ttf);
}
@font-face {
    font-family: "tex-titulo";
    src: url(fonts/Tektur-Bold.ttf);
}
.texto{
    font-family: "tex-normal";
}
.titulo{
    font-family: "tex-titulo";
    padding-left: 50px;
    padding-top: 20px;
    display: flex;
}
.nome {
    color: white;
    text-shadow: 0px 0px 5px #ff82f7,
        0px 0px 10px #ff82f7,
        0px 0px 15px #ff82f7;
    font-family: "13 misa";
    font-size: 40px;
}
.nada {
    background: none;
    margin: 0;
    padding: 0;
    border: 0;
}

.nada button:active {
    filter: grayscale(30%);
}
.B-top {
    background: none;
    border: 2px solid #74f2e6;
    color: #74f2e6;
    width: 70px;
    height: 30px;
    border-radius: 30px;
    text-decoration: none;
}
.B-top a{
    text-decoration: none;
    color: #74f2e6;
}

.B-top:active {
    border: 2px solid #5ab9b0;
    color: #5ab9b0;
}
.busca {
    border-radius: 30px;
    display: flex;
    width: 400px;
    border:  3px solid #a680ff;
    background: none;
    padding: 5px;
    position: sticky;
    top: 0;
    height: 30px;
    align-items: center;
}
.busca input {
    width: 357px;
    border-radius: 30px;
    border: 0;
    font-size: 20px;
    padding-left: 5px;
    background: none;
    color: #a680ff;
}

.busca input:focus  {
    outline: none;
    border: 0;
}
.busca:focus{
    box-shadow: 0px 0px 5px #a680ff,
        0px 0px 10px #a680ff,
        0px 0px 15px #a680ff;
}
.demo{
    box-shadow: 0px 0px 5px #a680ff,
        0px 0px 10px #a680ff,
        0px 0px 15px #a680ff;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a680ff;
}
.foto{
    border-radius:360px;
    width: 110px;
    height: 110px;
    margin-top: -60px;
    margin-left: 50px;
    z-index: 3;
    margin-right: 40px;
    text-align: center;
    color: #0f0347;
    text-shadow: none;
}
.quadro{
    width: 90%;
    height: 100%;
    font-size: 30px;
    z-index: 2;
    background: none;
    border: 5px solid #a680ff;
    border-radius: 30px;
}
.img{
    border-radius:360px;
    width: 50px;
    height: 50px;
}
.p-tpo{
    display: flex;
    align-items: center;
    color: white;
    text-shadow: 0px 0px 5px #ff82f7,
        0px 0px 10px #ff82f7,
        0px 0px 15px #ff82f7;
    margin: 5px;
}
.pots{
    margin: 50px 10px ;
    border: 5px solid #5ab9b0;
    border-radius: 30px;
}
.centro{
    font-family: "tex-normal";
    color: #8baaf8;
    margin: 10px;
}
.des{
    font-family: "tex-titulo";
    color: white;
    margin-bottom: 100px;
    padding-left: 20px;
    text-shadow: 0px 0px 5px #a680ff,
        0px 0px 10px #a680ff,
        0px 0px 15px #a680ff;
}
.links{
    padding-left: 20px;
    font-size: 20px;
    h3{
        color: #fff;
        text-shadow: 0px 0px 5px crimson,
        0px 0px 10px crimson,
        0px 0px 15px crimson;
        font-family: "tex-normal";
    }
}.tag{
    margin: 20px 10px;
    border: 2px solid crimson;
    border-radius: 20px;
    text-align: center;
    color: white;
    text-shadow: 0px 0px 5px crimson,
        0px 0px 10px crimson,
        0px 0px 15px crimson;
    box-shadow: 0px 0px 5px crimson,
        0px 0px 10px crimson,
        0px 0px 15px crimson;;
    font-family: "tex-normal";
}
.nova{
    width: 100px;
}