header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    background-color: #0f0347;
    position: sticky;
    z-index: 1;
    align-items: center;
    height: 10%;
}

main {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;

    height: 94.4vh;

    grid-template-areas:
        "esquer centro dire"
    ;
}

* {
    margin: 0;
    padding: 0;
    border: 0
}

.nome {
    color: white;
    text-shadow: 0px 0px 5px #ff82f7,
        0px 0px 10px #ff82f7,
        0px 0px 15px #ff82f7;
    font-family: "13 misa";
    font-size: 40px;
}

@font-face {
    font-family: "13 misa";
    src: url(fonts/BILLO___.TTF);
}

@font-face {
    font-family: "tex-normal";
    src: url(fonts/Tektur-Regular.ttf);
}

@font-face {
    font-family: "tex-titulo";
    src: url(fonts/Tektur-Bold.ttf);
}

.texto {
    font-family: "tex-normal";
}

.titulo {
    font-family: "tex-titulo";
}

.logo {
    display: flex;
    align-items: center;
    margin: 0px 5px;
    width: 300px;
    justify-content: space-around;
}

.nada {
    background: none;
    margin: 0;
    padding: 0;
    border: 0;
}

.nada:active button {
    filter: grayscale(30%);
}

header img {
    height: 43px;
}

.lado {
    background: linear-gradient(#183f9b, #183f9b, #e488e7);
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    font-family: "tex-titulo";

    h2 {
        color: white;
        text-shadow: 0px 0px 5px #6b91eb,
            0px 0px 10px #6b91eb,
            0px 0px 15px #6b91eb;
    }

    button {
        border: 5px solid #ff84f4;
        color: #ff84f4;
        width: 100px;
        height: 70px;
        border-radius: 20px;
        background: none;
        font-size: 15px;
    }
}.lado button:active{
    scale: calc(0.9);
    border: 5px solid #9c5096;
        color: #9c5096;
}

.tudo {
    background: linear-gradient(#130046, #463191);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lado img {
    height: 200px;
}

.coisa {
    margin: 30px;
    font-family: "tex-titulo";
    color: white;
    font-size: 20px;
    text-shadow: 0px 0px 5px #840aff,
        0px 0px 10px #840aff,
        0px 0px 15px #840aff;
    width: 80vh;
    display: flex;
    justify-items: center;
    flex-direction: column;
}

.coisa input {
    background: none;
    border: 2px solid #840aff;
    border-radius: 30px;
    width: 80vh;
    height: 30px;
    color: white;
    font-size: 20px;
    text-shadow: 0px 0px 5px #840aff,
        0px 0px 10px #840aff,
        0px 0px 15px #840aff;
    padding: 5px;
}

.coisa button {
    background: none;
    color: white;
    border-radius: 30px;
    height: 40px;
    text-shadow: 0px 0px 5px #74f2e6,
        0px 0px 10px #74f2e6,
        0px 0px 15px #74f2e6;
    font-size: 20px;
    font-family: "tex-titulo";
}.coisa input:focus{
    outline: none;
    box-shadow: 0px 0px 5px #840aff,
        0px 0px 10px #840aff,
        0px 0px 15px #840aff;
}

.bio {
    background: none;
    border: 2px solid #840aff;
    border-radius: 30px;
    width: 80vh;
    height: 150px;
    color: white;
    font-size: 20px;
    text-shadow: 0px 0px 5px #840aff,
        0px 0px 10px #840aff,
        0px 0px 15px #840aff;
    padding-left: 10px;
    padding-top: 3px;
    resize: none;

}
.coisa textarea:focus{
    outline: none;
    box-shadow: 0px 0px 5px #840aff,
        0px 0px 10px #840aff,
        0px 0px 15px #840aff;
}
.lado a{
    text-decoration: none;
    font-size: 20px;
    color: white;
    text-shadow: 0px 0px 5px #840aff,
        0px 0px 10px #840aff,
        0px 0px 15px #840aff;
        margin: 10px;
}
::-webkit-scrollbar{
     background: none; 
    width: 5px;
}
::-webkit-scrollbar-thumb{
    background-color: white;
     box-shadow: 0px 0px 5px #a680ff,
        0px 0px 10px #a680ff,
        0px 0px 15px #a680ff;
}
.coisa a{
    background: none;
    border: 1px solid #74f2e6;
    color: white;
    border-radius: 30px;
    height: 40px;
    text-shadow: 0px 0px 5px #74f2e6,
        0px 0px 10px #74f2e6,
        0px 0px 15px #74f2e6;
    font-size: 20px;
    font-family: "tex-titulo";
    text-align: center;
}