*{
    margin: 0;
    padding: 0;
    border: 0;
}
main{
    display: flex;
    align-items: end;
    justify-content: end;
    background-image: url(imagens/teste.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
header {
    display: flex;
    justify-content: space-between;
    background-color: #0f0347;
    position: sticky;
    z-index: 1;
    align-items: center;
}
header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    background-color: #0f0347;
    position: sticky;
    z-index: 1;
    align-items: center;
}
.logo {
    display: flex;
    align-items: center;
    margin: 0px 5px;
    width: 300px;
    justify-content: space-around;
}

header img {
    height: 43px;
}
@font-face {
    font-family: "13 misa";
    src: url(fonts/BILLO___.TTF);
}
@font-face{
    font-family: "tex-normal";
    src: url(fonts/Tektur-Regular.ttf);
}
@font-face {
    font-family: "tex-titulo";
    src: url(fonts/Tektur-Bold.ttf);
}
.desc{
    font-family: "tex-normal";
}
.titulo{
    font-family: "tex-titulo";
    padding-left: 50px;
    padding-top: 20px;
    display: flex;
}
.busca {
    border-radius: 30px;
    display: flex;
    width: 400px;
    border:  3px solid #a680ff;
    background: none;
    padding: 5px;
    position: sticky;
    top: 0;
    height: 30px;
    align-items: center;
}
.busca input {
    width: 357px;
    border-radius: 30px;
    border: 0;
    font-size: 20px;
    padding-left: 5px;
    background: none;
    color: #a680ff;
}
.nome {
    color: white;
    text-shadow: 0px 0px 5px #ff82f7,
        0px 0px 10px #ff82f7,
        0px 0px 15px #ff82f7;
    font-family: "13 misa";
    font-size: 40px;
}
.nada {
    background: none;
    margin: 0;
    padding: 0;
    border: 0;
}
.B-top {
    background: none;
    border: 2px solid #74f2e6;
    color: #74f2e6;
    width: 70px;
    height: 30px;
    border-radius: 30px;
    text-decoration: none;
}
.B-top a{
    text-decoration: none;
    color: #74f2e6;
}

.B-top:active {
    border: 2px solid #5ab9b0;
    color: #5ab9b0;
}
.principal{
    background: linear-gradient(#183f9b, #183f9b, #e488e7);
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    width: 50%;
    height: 94.4vh;
    color: white;
    text-shadow: 0px 0px 5px #6b91eb,
    0px 0px 10px #6b91eb,
    0px 0px 15px #6b91eb;
}
.normal img{
    width: 106px;
}
.normal{
    color: white;
    text-shadow: 0px 0px 5px #ff82f7,
    0px 0px 10px #ff82f7,
    0px 0px 15px #ff82f7;
    margin: 40px 20px;
}
.desc{
    width: 90%;
}
.normal input {
    background: none;
    border: 2px solid #840aff;
    border-radius: 30px;
    width: 80vh;
    height: 30px;
    color: white;
    font-size: 20px;
    text-shadow: 0px 0px 5px #840aff,
        0px 0px 10px #840aff,
        0px 0px 15px #840aff;
    padding: 5px;
    margin: 10px;
}
.bio {
    background: none;
    border: 2px solid #840aff;
    border-radius: 30px;
    width: 80vh;
    height: 150px;
    color: white;
    font-size: 20px;
    text-shadow: 0px 0px 5px #840aff,
        0px 0px 10px #840aff,
        0px 0px 15px #840aff;
    padding-left: 10px;
    padding-top: 3px;
    resize: none;
    margin: 10px;
}
.final button {
    background: none;
    color: white;
    border-radius: 30px;
    height: 50px;
    width: 200px;
    text-shadow: 0px 0px 5px #74f2e6,
        0px 0px 10px #74f2e6,
        0px 0px 15px #74f2e6;
    font-size: 20px;
    font-family: "tex-titulo";
    border: 4px solid #74f2e6 ;
}.normal input:focus{
    outline: none;
    box-shadow: 0px 0px 5px #840aff,
        0px 0px 10px #840aff,
        0px 0px 15px #840aff;
}

.final{
    display: flex;
    align-items: last baseline;
}
.place::placeholder{
    font-family: "tex-normla";
    color: rgba(255, 255, 255, 0.377);
}
.normal textarea:focus{
    outline: none;
    box-shadow: 0px 0px 5px #840aff,
        0px 0px 10px #840aff,
        0px 0px 15px #840aff;
}
.final a{
    background: none;
    color: white;
    border-radius: 30px;
    height: 40px;
    text-shadow: 0px 0px 5px #74f2e6,
        0px 0px 10px #74f2e6,
        0px 0px 15px #74f2e6;
    font-size: 20px;
    font-family: "tex-titulo";
    text-align: center;
}