* {
    margin: 0;
    padding: 0;
    border: 0
}
body{
   background:linear-gradient(#a680ff,#0f0347,#0f0347);
}
main {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 18fr;

    height: 100vh;
    

    grid-template-areas:
        "header header header"
        "esquer centro dire"
    ;
}

header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    background-color: #0f0347;
    position: sticky;
    z-index: 1;
    align-items: center;
}
span{
    margin: 0.5px;
}

.nome {
    color: white;
    text-shadow: 0px 0px 5px #ff82f7,
        0px 0px 10px #ff82f7,
        0px 0px 15px #ff82f7;
    font-family: "13 misa";
    font-size: 40px;
}
::-webkit-scrollbar{
     background: none; 
    width: 5px;
}
::-webkit-scrollbar-thumb{
    background-color: white;
     box-shadow: 0px 0px 5px #a680ff,
        0px 0px 10px #a680ff,
        0px 0px 15px #a680ff;
}
@font-face {
    font-family: "13 misa";
    src: url(fonts/BILLO___.TTF);
}
@font-face{
    font-family: "tex-normal";
    src: url(fonts/Tektur-Regular.ttf);
}
@font-face {
    font-family: "tex-titulo";
    src: url(fonts/Tektur-Bold.ttf);
}
.texto{
    font-family: "tex-normal";
}
.titulo{
    font-family: "tex-titulo";
}

.deson1 {
    display: grid;
    grid-template-rows: 0.5fr 1fr 0.5fr;
    grid-template-areas:
        "cima"
        "meio"
        "baixo";
    margin: 20px;
    background:none;
    border-radius: 30px;
    width: 90%;
    height: 60%;
    overflow: hidden;
    border: 5px solid #a680ff ;
    box-shadow: 0px 0px 10px #a680ff,
        0px 0px 15px #a680ff;
    justify-items: center;
}

.d-top {
    grid-area: cima;
    display: flex;
    background: none;
    color: #74f2e6;
    margin: 5px;
    align-items: center;
}.d-top img{
    border-radius: 30px;
    margin: 0 10px;
}

.d-meio {
    grid-area: meio;
    background:none;
    width: 92%;
    border: 3px solid #183f9b;
    border-radius: 30px;
    color: #183f9b;
    box-shadow: 0px 0px 5px  #183f9b,
        0px 0px 10px #183f9b;
    padding-left: 20px;
}

.d-baixo {
    grid-area: baixo;
    display: flex;
    justify-content: space-evenly;
    background:none;
    align-items: center;
    width: 100%;
    color: white;
    text-shadow: 0px 0px 5px #74f2e6,
    0px 0px 10px #74f2e6,
    0px 0px 15px #74f2e6;
}.d-baixo a{
    color: white;
    text-shadow: 0px 0px 5px #74f2e6,
    0px 0px 10px #74f2e6,
    0px 0px 15px #74f2e6;
}.d-baixo button{
    background: none;
}.curtidas button:active{
    scale: calc(0.9);
    filter: grayscale(50%);
}

.curtidas {
    display: flex;
    margin: 0 90px 0 0;
}

.nada {
    background: none;
    margin: 0;
    padding: 0;
    border: 0;
}

.nada button:active {
    filter: grayscale(30%);
}

.B-top {
    background: none;
    border: 2px solid #74f2e6;
    color: #74f2e6;
    width: 70px;
    height: 30px;
    border-radius: 30px;
    text-decoration: none;
}
.B-top a{
    text-decoration: none;
    color: #74f2e6;
}

.B-top:active {
    border: 2px solid #5ab9b0;
    color: #5ab9b0;
}

.logo {
    display: flex;
    align-items: center;
    margin: 0px 5px;
    width: 300px;
    justify-content: space-around;
}

header img {
    height: 43px;
}

.esquerda {
    grid-area: esquer;
}

.centro {
    grid-area: centro;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    overflow: auto;
}

.centro img {
    height: 43px;
}

.busca {
    border-radius: 30px;
    display: flex;
    width: 400px;
    border:  3px solid #a680ff;
    background: none;
    padding: 5px;
    position: sticky;
    top: 0;
    height: 30px;
    align-items: center;
}
.busca input {
    width: 357px;
    border-radius: 30px;
    border: 0;
    font-size: 20px;
    padding-left: 5px;
    background: none;
    color: #a680ff;
}

.busca input:focus  {
    outline: none;
    border: 0;
}
.busca:focus{
    box-shadow: 0px 0px 5px #a680ff,
        0px 0px 10px #a680ff,
        0px 0px 15px #a680ff;
}

.direita {
    grid-area: dire;
    background: linear-gradient(#183f9b,#183f9b, #e488e7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.criaar{
    margin: 50px;
    font-family: "13 misa";
    color: white;
    text-shadow: 0px 0px 7px #ff80fa;
    display: flex;
    justify-content: center;
    font-size: 39px;
}

.comun{
    border: 5px solid #e488e7;
    color: #e488e7;
    background: none;
    margin:50px;
    font-size: xx-large;
    border-radius: 25px;
    font-family: "tex-normal";
    padding:  5px;
    outline: none;
    text-decoration: none;
    
}
.comun a{
    text-decoration: none;
    color: #e488e7;
}
.post{
    border: 5px solid #e488e7;
    color: #e488e7;
    background: none;
    margin: 50px;
    font-size: xx-large;
    border-radius: 25px;
    font-family: "tex-normal";
    
}

.comun:hover{
    color: #74f2e6;
    border-color: #74f2e6;
}
.comun a:hover{
    color: #74f2e6;
}
.post:hover{
    color: #74f2e6;
    border-color: #74f2e6;
}
