header{
    background-color: #0f0347;
    display: flex;
    align-items: center;
    font-size:25px ;
    font-family: "13 misa";
}
*{
    border: 0;
    margin: 0;
    padding: 0;
    color: white;
    text-shadow: 
        0px 0px 5px #ff82f7,
        0px 0px 10px #ff82f7,
        0px 0px 15px #ff82f7;
}
main{
    background-image: url(imagens/Design\ sem\ nome.gif);
    display: flex;
    align-items: center;
    height: 94.7vh;
    width: 100%;
    background-position: bottom;
    justify-content: center;
}

button{
    background-color: #74f2e6;
    color: white;
    border-radius: 50px;
    font-family: "tex-normal";
    width: 250px;
    height: 100px;
    font-size: larger;

}
button a{
    text-decoration: none;
}
.caixa{
    border-radius: 70px;
    width: 500px;
    height: 700px;
    display: flex;
    flex-direction: column;
    background-color: #735e97b7;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    font-family: "tex-normal";
    font-size: 40px;
}
@font-face {
    font-family: "13 misa";
    src: url(fonts/BILLO___.TTF);
}
@font-face{
    font-family: "tex-normal";
    src: url(fonts/Tektur-Regular.ttf);
}
@font-face {
    font-family: "tex-titulo";
    src: url(fonts/Tektur-Bold.ttf);
}
img{
        height: 50px;
}
